.d-flex{
    
    flex-wrap: wrap;
    justify-content: space-around;
}
.food{
    padding: auto, 40px !important;
    overflow-x: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 700px) {
    .d-flex{
        flex-direction: column;
        align-items: center;
    }
    .food{
        margin-bottom: 50px;
    }

}
.fruit:hover{
    background-color: blanchedalmond;
}
.flour{
    background-color: rgb(241, 241, 241);
}
.card-name{
    font-size: 50px;
    color: blue;
    padding: auto, 40px !important;
    word-wrap:break-word;
    font-weight: 500;

}
#soon{
    color: red;
    font-size: 30px;
    font-weight: 400;
}